# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Appsmith systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ appsmith_identifier }}.service"
  register: appsmith_service_stat

- name: Uninstall Appsmith systemd services and files
  when: appsmith_service_stat.stat.exists | bool
  block:
    - name: Ensure Appsmith systemd service is stopped
      ansible.builtin.service:
        name: "{{ appsmith_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Appsmith systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ appsmith_identifier }}.service"
        state: absent

    - name: Ensure Appsmith container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ appsmith_container_network }}"
        state: absent
      register: appsmith_network_deletion_result

    - name: Ensure Appsmith container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ appsmith_container_network }}
      register: appsmith_network_deletion_result
      changed_when: appsmith_container_network in appsmith_network_deletion_result.stdout

    - name: Ensure Appsmith path does not exist
      ansible.builtin.file:
        path: "{{ appsmith_base_path }}"
        state: absent
